.descripition-product {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.descripition-product > .title {
  font-size: 25px;
  margin-bottom: 50px;
}

.descripition-product > .item {
  font-size: 20px;
  margin-bottom: 28px;
}
.descripition-product > .item.-heart {
  position: absolute;
  transform: translateX(-100%);
  top: 8px;
  left: -48px;
  cursor: pointer;
}

.descripition-product > .item.-active {
  background-color: #ffffff;
}

.descripition-product > .item.-star {
  margin-bottom: 3px;
  cursor: pointer;
}

.descripition-product .icon {
  transition: transform 150ms linear;
}

.descripition-product .icon:hover {
  transform: scale(1.2);
  transition: transform 150ms linear;
}

.descripition-product .item .icon.-active {
  display: none;
}
.descripition-product > .item.-active .icon {
  display: none;
}
.descripition-product > .item.-active .icon.-active {
  display: block;
}
.descripition-product .star {
  display: inline-block;
}
.descripition-product .star.-active > .icon {
  display: none;
}
.descripition-product .star.-active > .-active {
  display: block;
}
.descripition-product > .item.-star + .item {
  margin-left: 7px;
}

.descripition-product > .item.-info {
  width: 200px;
  text-align: right;
}
.descripition-product > .iten.-last {
  margin-bottom: 72px;
}

.descripition-product .contrast {
  text-transform: uppercase;
  float: left;
}
.descripition-product > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
.descripition-product > .text.-more {
  margin-bottom: 0;
}
.descripition-product .action {
  color: inherit; /* inherrit herda os valores da class pai aqui no caso e o .description-product */
  text-decoration: none;
}

@media (max-width: 1310px) {
  .descripition-product {
    width: 50%;
    min-width: 655px;
    margin: 0 auto 60px;
  }
  .descripition-product > .title {
    font-size: 35px;
    text-align: center;
  }

  .descripition-product > .item.-star {
    float: left;
    margin-right: 10px;
  }
  .descripition-product > .item.-number {
    padding-top: 4px;
  }
}

@media (max-width: 720px) {
  .descripition-product {
    width: 90%;
    min-width: auto;
  }
}
